html {
  font-size: 16px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: black;
  margin: 0px;
  font-weight: 400;
  margin-left: 7.7rem;
  margin-right: 7.7rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 52px;
  margin-left: 55px;
  margin-top: 48px;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a {
  padding: 46px 25px 46px 25px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: 500;
  font-size: 1rem;
}

nav a:hover {
  border-top: solid 2px #0065FC;
  color: #0065FC;
}

h1, h2, h3 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0px;
}

article {
  margin-left: 55px;
  margin-top: 67px;
}

h1 {
  font-weight: 700;
  font-size: 22px;
}

article h1 {
  margin-bottom: 8px;
}

.recherche {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

article .recherche i {
  background-color: #F2F2F2;
  padding: 18px 16px 18px 16px;
  border-radius: 40% 0% 0% 40%;
}

input[type="text"] {
  width: 220px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  border: 1px #F2F2F2 solid;
  padding-left: 17px;
  margin-right: 0px;
}

input[type="submit"] {
  width: 130px;
  height: 52px;
  margin-left: -4px;
  font-weight: 700;
  font-size: 18px;
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0% 15px 15px 0%;
}

::placeholder {
  color: black;
  opacity: 1;
}

.filtres {
  display: flex;
  margin-top: 30px;
  gap: 40px;
}

.item-filtre {
  display: flex;
  align-items: center;
  border: rgb(242, 242, 242, 1) solid 3px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 900;
}

.item-filtre:hover {
  background-color: #DEEBFF;
}

.item-filtre i {
  color: #0065FC;
  margin-right: 10px;
}

.texte-filtre {
  font-weight: 700;
  font-size: 18px;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.info i {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: #D9D9D9 solid 1px;
  border-radius: 50%;
  color: #0065FC;
  margin-right: 10px;
}

.rubriques {
  display: flex;
  margin-left: 50px;
  margin-top: 39px;
  margin-right: 50px;
  gap: 40px;
}

.hebergements {
  background-color:#F2F2F2;
  width: 880px;
  height: 626px;
  border-radius: 20px;
}

.hebergements h1 {
  margin-top: 42px;
  margin-bottom: 23px;
  margin-left: 40px;
}

.hebergements h2 {
  margin-top: 40px;
  margin-bottom: 46px;
  margin-left: 44px;
}

.image-hebergement {
  width: 246px;
  height: 199px;
  background-color: white;
  border-radius: 20px;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
}

.image-hebergement img {
  border-radius: 20px 20px 0px 0px;
  padding-left: 5px;
  padding-top: 5px;
}

.image-hebergement i {
  font-size: 12px;
}


.image-hebergement h3 {
  margin-top: 4px;
  padding-left: 16px;
}

.image-hebergement p {
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding-left: 16px;
  margin-top: 9px;
  margin-bottom: 9px;
  
}

b {
  font-weight: 600;
}

.image-hebergement .premiere-etoile {
  padding-left: 16px;
}

.etoile-bleue {
  color: #0065FC;
}

.etoile-blanche {
  color: #F2F2F2;
}

.populaire {
  width: 420px;
  height: 625px;
  background-color:#F2F2F2;
  border-radius: 20px;
}

.mosaic-hebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 40px;
}

.populaire i {
  color: #0065FC;
  margin-top: 41px;
}

.populaire h1 {
  margin-right: 118px;
  margin-left: 37px;
  margin-top: 41px;
}

.entete-populaire {
  display: flex;
}

.image-populaire {
  width: 343px;
  height: 144px;
  background-color: white;
  border-radius: 20px;
  margin-left: 37px;
  margin-top: 26px;
  display: flex;

}

.image-populaire img {
  border-radius: 20px 0px 0px 20px;
  padding-top: 5px;
  padding-left: 5px;
}

.texte-populaire {
  margin-top: 16px;
  padding-right: 50px;
}

.image-populaire p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 9px;
}

.image-populaire .texte-populaire {
  margin-left: 15px;
}

.image-populaire .etoile-blanche {
  color: #F2F2F2;
}

.image-populaire i {
  font-size: 12px;
  margin-top: 28px;
}

.activites {
  margin-left: 50px;
  margin-top: 60px;
}

.ligne-carte {
  margin-top: 18px;
  display: flex;
  gap: 43px;
}

.carte h3 {
  width: 282px;
  height: 56px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 5px 5px 14px 5px rgba(0,0,0,0.07);
  padding-top: 20px;
  padding-left: 20px;
  margin-top: -3px;
}

.carte img {
  border-radius: 20px 20px 0px 0px;
}

footer {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 60px;
  background-color: #F2F2F2;
  display: flex;
  gap: 240px;
  padding-left: 70px;
}

.colonne {
  margin-bottom: 58px;
  margin-top: 45px;
}

.colonne h2 {
  margin-bottom: 20px;
}