* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  max-width: 1440px;
  margin: auto;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 30px;
}

header img {
  margin-top: 15px;
}

.format-logo-booki {
  width: 61px;
  height: 19px;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a {
  padding: 13px 25px 46px 25px;
  font-weight: 500;
  font-size: 1rem;
}

nav {
  margin-right: 16px;
}

nav a:hover {
  border-top: solid 2px #0065FC;
  color: #0065FC;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}

h1, h2, h3 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0px;
}

.entete-recherche {
  margin-top: 67px;
}

h1 {
  font-weight: 700;
  font-size: 22px;
}

.entete-recherche h1 {
  margin-bottom: 8px;
}

.recherche {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.recherche button {
  display: none;
}

.recherche .location {
  background-color: #F2F2F2;
  padding: 18px 16px 18px 16px;
  border-radius: 40% 0% 0% 40%;
}

input[type="text"] {
  width: 220px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  color: black;
  border: 1px #F2F2F2 solid;
  padding-left: 17px;
  margin-right: 0px;
}

input[type="submit"] {
  width: 130px;
  height: 52px;
  margin-left: -4px;
  font-weight: 700;
  font-size: 18px;
  background-color: #0065FC;
  color: white;
  border: none;
  border-radius: 0% 15px 15px 0%;
}

::placeholder {
  color: black;
  opacity: 1;
}

.filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
}

.liste-item-filtre {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin-right: -20px;
    column-gap: 15px;
  }

  .liste-item-filtre-mobile {
    display: flex;
    column-gap: 15px;
  }

.item-filtre {
  display: flex;
  align-items: center;
  border: rgb(242, 242, 242, 1) solid 3px;
  border-radius: 25px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 900;
}

.item-filtre:hover {
  background-color: #DEEBFF;
}

.item-filtre i {
  color: #0065FC;
  margin-right: 10px;
}

.texte-filtre {
  font-weight: 700;
  font-size: 18px;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.info i {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  border: #D9D9D9 solid 1px;
  border-radius: 50%;
  color: #0065FC;
  margin-right: 10px;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  margin: 0px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
}

b {
  font-weight: 600;
}

.rubriques {
  display: flex;
  margin-top: 39px;
  gap: 40px;
}

article {
  max-width: 62%;
  background-color:#F2F2F2;
  height: 100%;
  border-radius: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mosaic-hebergement {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

article h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

article h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.carte-hebergement {
  max-width: 30%;
  max-height: 207px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
}

.format-image-hebergement {
  width: 98%;
  height: 60%;
  object-fit: cover;
}

.carte-hebergement img {
  border-radius: 20px 20px 0px 0px;
  padding-left: 5px;
  padding-top: 5px;
}

.carte-hebergement h2 {
  font-size: 18px;
}

.carte-hebergement i {
  font-size: 12px;
}


.carte-hebergement h3 {
  margin-top: 2px;
  padding-left: 16px;
}

.carte-hebergement p {
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding-left: 16px;
  margin-top: 3px;
  margin-bottom: 0px;
  }

.carte-hebergement .premiere-etoile {
  padding-left: 16px;
}

.etoile-bleue {
  color: #0065FC;
}

.etoile-blanche {
  color: #F2F2F2;
}

aside {
  background-color:#F2F2F2;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.entete-populaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mosaic-populaire {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 28.5px;
}

aside i {
  color: #0065FC;
}

.carte-populaire {
  max-width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.format-image-populaire {
  width: 33%;
  height: 144px;
  padding-bottom: 2%;
  object-fit: cover;  
}

.carte-populaire img {
  border-radius: 20px 0px 0px 20px;
  padding-top: 5px;
  padding-left: 5px;
}

.texte-populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.ligne-texte-populaire {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.carte-populaire p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
}

.carte-populaire i {
  font-size: 12px;
  margin: 0px;
}

.liste-etoile {
  display: flex;
  flex-direction: row;
}

.carte-populaire .etoile-blanche {
  color: #F2F2F2;
}

.activites {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-left: 30px;
}

.activites h1 {
  margin-bottom: 30px;
}

.ligne-carte-activite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
}

.carte-activite {
  display: flex;
  flex-direction: column;
  width: 23%;
  max-width: 297px;
  max-height: 439px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.format-image-activites {
  width: 100%;
  height: 380px;
  object-fit: cover;  
}

.carte-activite img {
  border-radius: 20px 20px 0px 0px;
}

.carte-activite h3 {
  padding: 20px 0px 20px 20px;
}

footer {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 60px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 252px;
  padding-left: 20px;
}

.colonne {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 15px;
  margin-bottom: 58px;
  margin-top: 20px;
}

.colonne-3 {
  margin-left: 29px;
}

@media screen and (max-width: 1024px) {

  nav {
    margin-right: 0px;
  }

  main {
    margin-right: 50px;
  }

  .filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 35px;
    margin-bottom: 0px;
    gap: 0px;
  }
  
  .filtres p {
    margin-bottom: 25px;
  }

  .liste-item-filtre {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin-right: -20px;
    column-gap: 15px;
    row-gap: 15px;
  }

  .liste-item-filtre-mobile {
    display: flex;
    column-gap: 15px;
  }

  .item-filtre {
    display: flex;
    align-items: center;
    border: rgb(242, 242, 242, 1) solid 3px;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 900;
  }

  .item-filtre p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .item-filtre i {
    margin-top: 0px;
  }

  .info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .rubriques {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 50px;
  }

  article {
    max-width: 924px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
  }
  
  .carte-hebergement {
    max-width: 30%;
    max-height: 207px;
  }

  .format-image-hebergement {
    width: 98%;
    height: 60%;
  }

  article h1 {
    margin-left: 30px;
  }

  .mosaic-hebergement {
    margin-left: 30px;
  }

  article h2 {
    margin-left: 30px;
  }
  
  .carte-hebergement h3 {
    margin-top: 2px;
    padding-left: 16px;
  }
  
  .carte-hebergement p {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-left: 16px;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  aside {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0px;
  }
  
  .entete-populaire {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .mosaic-populaire {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 30px; 
  }
  
  .carte-populaire {
    max-width: 33%;
    border-radius: 20px;
  }

  .format-image-populaire {
    width: 33.2%;
    max-height: 98%;
    object-fit: cover;  
  }

  .carte-populaire img {
    border-radius: 20px 0px 0px 20px;
    padding-top: 5px;
    padding-left: 5px;
  }

  .texte-populaire {
    margin-top: 15px;
    margin-left: 10px;
    padding-right: 0px;
  }


  .texte-populaire p {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .carte-activite {
    width: 23%;
    max-width: 193.5px;
  }

  .format-image-activites {
    width: 100%;
    max-height: 200px;
    object-fit: cover;  
  }

  .carte-activite h3 {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  footer {
    max-width: 904px;
    background-color: #F2F2F2;
    display: flex;
    gap: 13.7%;
  }

  .colonne-3 {
    margin-left: 29px;
  }
  
}

@media screen and (max-width: 375px) {

  header {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 30px;
  }

  header img {
    margin-top: 0px;
  }
  
  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    margin-right: 0px;
  }

  nav a {
    text-align: center;
    width: 50%;
    padding: 0px 0px 15px 0px;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: solid 2px #F2F2F2;
  }

  nav a:hover {
    border-top: none;
    border-bottom: solid 2px #0065FC;
    color: #0065FC;
  }

  nav a:active {
    border-top: none;
    border-bottom: solid 2px #0065FC;
    color: #0065FC;
  }

  main {
    margin-left: 0px;
    margin-right: 0px;
  }

  .entete-recherche {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .entete-populaire h1 {
    font-size: 22px;
    font-weight: 700;
  }

  form {
    position: relative;
  }

  .recherche {
    margin-left: 0px;
    margin-right: 0px;
  }

  input[type="text"] {
    width: 235px;
    height: 48px;
    padding-left: 17px;
    margin-right: 0px;
  }

  input[value="Rechercher"] {
    display: none;
  }

  .recherche button {
    display: block;
  }

  button {
    display: block;
    width: 49px;
    height: 52px;
    border-radius: 15px;
    background-color: #0065FC;
    position: absolute;
    top: 0px;
    right: -35px;
    border: none;
  }

  button i {
    font-size: 1em;
    color: white;
  } 

  .texte-filtre {
    display: block;
  }

  .filtres {
    display: block;
    margin-top: 35px;
  }

  .liste-item-filtre {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .liste-item-filtre-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
  }

  .item-filtre {
    display: flex;
    align-items: center;
    min-width: 140px;
    flex-basis: 100%;
    border: rgb(242, 242, 242, 1) solid 3px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 900;
  }

  .item-filtre p {
    font-size: 14px;
  }

  .info {
    margin-top: 15px;
  }

  .rubriques {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 0px;
    row-gap: 40px;
  }

  aside {
    gap: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mosaic-populaire {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    row-gap: 15px;
  }

  .format-image-populaire {
    min-width: 33%;
  }

  .entete-populaire h1 {
    margin-right: 0px;
  }

  .carte-populaire {
    max-width: 100%;
  }

  .carte-populaire p {
    margin-bottom: 0px;
  }
  
  article {
    order: 1;
    background-color: white;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    }

  .mosaic-hebergement {
    gap: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0px;
  }

  .carte-hebergement {
    width: 100%;
    max-width: 335px;
    max-height: 207px;
  }
  
  .format-image-hebergement {
    width: 98%;
    max-width: 335px;
    height: 60%;
    max-height: 124px;
  }

  article h1 {
    margin-top: -10px;
    margin-left: 0px;
}
  article h2 {
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .activites {
    margin-top: 85px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .activites h1 {
    margin-bottom: 0px;
  }

  .ligne-carte-activite {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 30px;
  }

  .carte-activite {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 315px;
    max-height: 200px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  .format-image-activites {
    width: 315px;
    height: 141px;
    object-fit: cover;  
  }
  
  .carte-activite h3 {
    height: 44px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-left: 20px;
  }
  
  footer {
    max-width: 375px  ;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 65px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .colonne {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 30px;
  }
  
  .colonne h2 {
    margin-bottom: 15px;
  }

  .colonne p {
    margin-top: -5px;
  }
}